version: '3'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/workspace:cached

    command: sleep infinity

    network_mode: service:db
    environment:
      NODE_OPTIONS: '--no-experimental-fetch'
      RUBOCOP_SERVER_HOST: 0.0.0.0
      RUBOCOP_SERVER_PORT: 7655

  db:
    image: postgres:latest
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - ./initialize_db:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_INITDB_ARGS="--encoding=UTF-8"